.custom-3d-object {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.custom-3d-object.object_is_sticky  {
	bottom: 0;
	right: 0;
	max-height: 100vh;
	position: sticky;
	overflow: hidden;
}
body {
	overflow-x: visible!important;
}