.custom-3d-object {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.custom-3d-object.object_is_sticky {
	max-height: 100vh;
	position: sticky!important;
}
#spline,
spline-viewer{
	height: 100vh!important;
}
.spline-wrapper spline-viewer {
	position: sticky;
}
